In [19]:
import psycopg2

In [20]:
conn=psycopg2.connect(user="postgres",password="0000",host="localhost",database="emp",port=5432)

In [21]:
print(conn)

<connection object at 0x000001B9AC668BF8; dsn: 'user=postgres password=xxx dbname=emp host=localhost port=5432', closed: 0>

In [22]:
cur =conn.cursor()
print(cur)

<cursor object at 0x000001B9AD18A2E8; closed: 0>

In [ ]:
cur.execute("""CREATE TABLE EMP5(ID INT,NAME VARCHAR(32),EMAIL VARCHAR(32))""")
conn.rollback()

In [ ]:
cur.execute(""" INSERT INTO EMP2(ID,NAME,EMAIL)VALUES(101,'ABC','ABC@XYZ.COM')""")
conn.rollback()

In [33]:
import sqlite3

In [34]:
conn=sqlite3.connect(database="test1_db.db")

In [38]:
cur=conn.cursor()

In [39]:
cur.execute("""CREATE TABLE EMP5(ID INT,NAME VARCHAR2(32),EMAIL VARCHAR2(32))""")

In [40]:
cur.execute(""" INSERT INTO EMP5(ID,NAME,EMAIL) VALUES(101,'ABC','ABC@DEF.COM')""")

In [41]:
cur.execute(""" INSERT INTO EMP5(ID,NAME,EMAIL) VALUES(102,'DEF','CSQ@DEF.COM')""")

In [44]:
cur.execute(""" INSERT INTO EMP5(ID,NAME,EMAIL) VALUES(103,'XYZ','DEFC@DEF.COM')""")

In [46]:
cur.execute("SELECT * FROM EMP5")

In [48]:
print(cur)
print(next(cur))

<sqlite3.Cursor object at 0x000001B9AD29DA40>
(101, 'ABC', 'ABC@DEF.COM')

In [49]:
cur.execute("SELECT * FROM EMP5")
print(cur.fetchone())

(101, 'ABC', 'ABC@DEF.COM')

In [50]:
print(cur.fetchall())

[(102, 'DEF', 'CSQ@DEF.COM'), (103, 'XYZ', 'DEFC@DEF.COM')]

In [51]:
cur.execute("""UPDATE EMP5  SET NAME="ABUL"   WHERE ID= 101 """)
conn.commit()

In [52]:
cur.execute("""SELECT * FROM EMP5 """)
print(cur.fetchall())

[(101, 'ABUL', 'ABC@DEF.COM'), (102, 'DEF', 'CSQ@DEF.COM'), (103, 'XYZ', 'DEFC@DEF.COM')]